<header class="pb">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="#" title=""><img src=~/Content/images/logo.png alt=""></a>
            </div><!--logo end-->
            @Html.Partial("_Navbar")
            <div class="menu-btn">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </div><!--menu-btn end-->
        </div><!--header-data end-->
    </div>
</header><!--header end-->


